<div class="animated fadeIn">
    <div ng-controller="lpenjualanCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Penjualan per Bulan</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-sm"
                                                           is-open="opened.bulan"
                                                           ng-click="toggle($event, 'bulan')"
                                                           ng-model="filter.bulan"
                                                           uib-datepicker-popup="MMMM yyyy"
                                                           datepicker-options="{minMode: 'month'}"
                                                           placeholder="Pilih Bulan"/>
                                                    <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.pilihBarang">
                                                <option ng-repeat="(key,row) in listBarang" value="{{ row.id }}">
                                                    {{ row.nama }}
                                                </option>
                                            </select>
                                            <!--                                            <ui-select class="ui-select-sm ui-select-container" ng-model="form.barang"-->
                                            <!--                                                       theme="bootstrap" ng-disabled="is_view" style="width: 100%">-->
                                            <!--                                                <ui-select-match placeholder="Pilih Barang">-->
                                            <!--                                                    {{ $select.selected.kode + " - " + $select.selected.nama}}-->
                                            <!--                                                </ui-select-match>-->
                                            <!--                                                <ui-select-choices position="down"-->
                                            <!--                                                                   repeat="val in listBarang | filter : $select.search">-->
                                            <!--                                                    {{ val.nama}}-->
                                            <!--                                                </ui-select-choices>-->
                                            <!--                                            </ui-select>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="getLaporan(filter)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" ng-show="tampilkan">
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                <h2 class="header-laporan">LAPORAN REKAP PENJUALAN PER BULAN</h2>
                                </br>
                            </center>
                            <div class="table-responsive">
                                <table border="1" class="table table-hover table-bordered table-print">
                                    <thead>
                                    <tr align="center">
                                        <th rowspan="2">No</th>
                                        <th rowspan="2">Nama Barang</th>
                                        <th colspan="{{ Tanggal.length }}">Bulan {{ filter.bulan | date:'MMMM yyyy'}}</th>
                                        <th rowspan="2">Total Barang</th>
                                    </tr>
                                    <tr>
                                    <!-- Menampilkan tanggal sesuai bulan -->
                                        <td ng-repeat="val in Tanggal">
                                            {{ val | date:'dd'}}
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody ng-show="!isLoading" ng-repeat="val in dataPenjualan">
                                    <tr>
                                        <td class="align-left">{{ $index + 1 }}</td>
                                        <td class="align-left">{{ val.nama_barang }}</td>
                                        <td ng-repeat="vals in val.dataPenjualan">{{ vals }}</td>
                                        <td class="align-left">{{ barangperBulan[val.m_barang_id] }}</td>
                                    </tr>
                                    </tbody>
                                    <tr>
                                        <td class="align-center" colspan="2">
                                            <b>Total Penjualan Barang / Hari</b>
                                        </td>
                                        <td ng-repeat="vals in barangperHari">{{ vals }}
                                        </td>
                                        <td></td>
                                </table>
                            </div>
                            <!--                            <div class="table-responsive">-->
                            <!--                                <table border="1" class="table table-hover table-bordered table-print">-->
                            <!--                                    <thead>-->
                            <!--                                    <tr align="center">-->
                            <!--                                        <th>No</th>-->
                            <!--                                        <th>Nama Barang</th>-->
                            <!--                                        &lt;!&ndash;                                        <th>{{ (v.t_penjualan_id != detail[$index - 1].t_penjualan_id) ? v.tanggal_formated : ''}}</th>&ndash;&gt;-->
                            <!--                                    </tr>-->
                            <!--                                    </thead>-->
                            <!--                                    <tbody ng-repeat-start="val in dataPenjualan">-->
                            <!--                                    <tr>-->
                            <!--                                        <td class="align-left">{{ $index + 1 }}</td>-->
                            <!--                                        <td class="align-left">{{ val.nama_barang }}</td>-->
                            <!--                                        <td class="align-left">{{ val.nama_kelas }}</td>-->
                            <!--                                    </tr>-->
                            <!--                                    </tbody>-->
                            <!--                                </table>-->
                            <!--                            </div>-->
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

