<div class="animated fadeIn">
    <div ng-controller="mbarangCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Barang</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="m.barang.nama" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Nama"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Stok</label>
                                        <div class="col-sm-2">
                                            <input st-search="m.barang.stok" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Stok"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">No</th>
                            <th class="align-left">Kategori Barang</th>
                            <th class="align-left">Nama Barang</th>
                            <th class="align-left">Stok</th>
                            <th class="align-left">Satuan</th>
                            <th class="align-left">Harga</th>
                            <th class="align-left">Deskripsi</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ $index + 1 }}</td>
                            <td class="align-left">{{ row.nama_kategori }}</td>
                            <td class="align-left">{{ row.nama}}</td>
                            <td class="align-left">{{ row.stok }}</td>
                            <td class="align-left">{{ row.satuan }}</td>
                            <td class="align-left">{{ row.harga }}</td>
                            <td class="align-left">{{ row.deskripsi }}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0"
                                            ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-warning fa fa-refresh"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle }}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kategori Barang</label>
                                <div class="col-sm-9">
                                    <ui-select ng-disabled="is_view" ng-model="form.m_kategori_id" theme="bootstrap">
                                        <ui-select-match placeholder="Ketik Kategori">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices position="down" refresh="cariKategori($select.search)"
                                                           repeat="vals in listKategori | filter : $select.search">
                                            {{vals.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                                           maxlength="255" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Stok</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.stok"
                                           maxlength="11" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Satuan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.satuan"
                                           maxlength="11" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pilih Foto</label>
                                <div class="col-sm-9">
                                    <strong><p>Pilih File Foto</p></strong>
                                    <input type="file" ng-model="form.foto" nv-file-select="" accept="image/*"
                                           class="upload"
                                           uploader="uploader"
                                           multiple/>
                                    <!--                                    <input accept="application/pdf,image/x-png,image/gif,image/jpeg"-->
                                    <!--                                           base-sixty-four-input="" class="form-control form-control-sm"-->
                                    <!--                                           ng-model="form.foto" type="file" ng-disabled="is_view" multiple/>-->
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="wrapper-md">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td><strong>{{ item.file.name}}</strong></td>
                                            <td ng-show="uploader.isHTML5" nowrap>
                                                {{ item.file.size / 1024 / 1024 | number:2
                                                }} MB
                                            </td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress progress-sm m-b-none m-t-xs">
                                                    <div class="progress-bar bg-info" role="progressbar" ng-style="{
                                  'width'
                                  : item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                            <span ng-show="item.isSuccess" class="text-success"><i
                                                    class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel" class="text-warning"><i
                                                        class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError" class="text-danger"><i
                                                        class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-default btn-sm"
                                                        ng-click="item.upload()"
                                                        ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    Upload
                                                </button>
                                                <button type="button" class="btn btn-default btn-sm"
                                                        ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    Cancel
                                                </button>
                                                <button type="button" class="btn btn-default btn-sm"
                                                        ng-click="item.remove()">
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <div class="mb-2">
                                            <p>Proses Upload:</p>
                                            <div class="progress bg-light dker" style="">
                                                <div class="progress-bar progress-bar-striped bg-info"
                                                     role="progressbar"
                                                     ng-style="{'width'
                                : uploader.progress + '%' }"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-addon btn-sm btn-success"
                                                    ng-click="uploadFile(form.id)"
                                                    ng-disabled="!uploader.getNotUploadedItems().length">
                                                <i class="fa fa-arrow-circle-o-up"></i> Upload all
                                            </button>
                                            <button type="button" class="btn btn-addon btn-sm btn-warning"
                                                    ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                <i class="fa fa-ban"></i> Cancel all
                                            </button>
                                            <button type="button" class="btn btn-addon btn-sm btn-danger"
                                                    ng-click="uploader.clearQueue()"
                                                    ng-disabled="!uploader.queue.length">
                                                <i class="fa fa-trash-o"></i> Remove all
                                            </button>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Harga</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.harga"
                                           maxlength="255" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Deskripsi</label>
                                <div class="col-sm-9">
                                    <textarea type="text" class="form-control form-control-sm" ng-model="form.deskripsi"
                                              maxlength="255" rows="6" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 text-center" ng-repeat="val in listFoto">
                                    <img src="../file/barang/{{form.id}}/{{ val.foto }}" class="img-thumbnail"
                                         style="max-height: 250px;"/>
                                    <hr>
                                    <button type="button" class="btn btn-sm btn-danger"
                                            ng-click="remFoto(val)"
                                            ng-disabled="is_view">
                                        <i class="fa fa-trash-o">
                                            Hapus
                                        </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
