<div class="animated fadeIn">
    <div class="row" align="center" ng-controller="dashboardCtrl">
        <div class="col-md-12">
            <center>
                <div zingchart id="myChart" zc-json="barChart" zc-height=500 zc-width=600>
                </div>
            </center>
        </div>
    </div>
</div>

<br>
<br>
<br>

<div class="animated fadeIn">
    <div class="row" align="center" ng-controller="dashboardCtrl">
        <div class="col-md-12">
            <center>
                <div zingchart id="myChart1" zc-json="lineChart" zc-height=500 zc-width=800>
                </div>
            </center>
        </div>
    </div>
</div>
