<div class="animated fadeIn">
    <div ng-controller="lpenjualanbrgCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Penjualan Barang</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-sm"
                                                           is-open="opened.bulan"
                                                           ng-click="toggle($event, 'bulan')"
                                                           ng-model="filter.tanggal"
                                                           uib-datepicker-popup="MMMM yyyy"
                                                           datepicker-options="{minMode: 'month'}"
                                                           placeholder="Pilih Bulan"/>
                                                    <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.kelompokCustomer"
                                                    placeholder="Pilih Customer">
                                                <option ng-repeat="(key,row) in listCustomer" value="{{ row.id }}">
                                                    {{ row.nama }}
                                                </option>
                                            </select>
                                            <!--                                            <ui-select class="ui-select-sm ui-select-container" ng-model="form.barang"-->
                                            <!--                                                       theme="bootstrap" ng-disabled="is_view" style="width: 100%">-->
                                            <!--                                                <ui-select-match placeholder="Pilih Customer">-->
                                            <!--                                                    {{ $select.selected.kode + " - " + $select.selected.nama}}-->
                                            <!--                                                </ui-select-match>-->
                                            <!--                                                <ui-select-choices position="down"-->
                                            <!--                                                                   repeat="val in listCustomer | filter : $select.search">-->
                                            <!--                                                    {{ val.nama}}-->
                                            <!--                                                </ui-select-choices>-->
                                            <!--                                            </ui-select>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.kelompokBarang">
                                                <option ng-repeat="(key,row) in listBarang" value="{{ row.id }}">
                                                    {{ row.nama }}
                                                </option>
                                            </select>
                                            <!--                                            <ui-select class="ui-select-sm ui-select-container" ng-model="form.barang"-->
                                            <!--                                                       theme="bootstrap" ng-disabled="is_view" style="width: 100%">-->
                                            <!--                                                <ui-select-match placeholder="Pilih Barang">-->
                                            <!--                                                    {{ $select.selected.kode + " - " + $select.selected.nama}}-->
                                            <!--                                                </ui-select-match>-->
                                            <!--                                                <ui-select-choices position="down"-->
                                            <!--                                                                   repeat="val in listBarang | filter : $select.search">-->
                                            <!--                                                    {{ val.nama}}-->
                                            <!--                                                </ui-select-choices>-->
                                            <!--                                            </ui-select>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="getLaporan(filter)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" ng-show="tampilkan">
            <div class="card-body" id="print">
                <div class="btn-group pull-right">
                    <button class="btn btn-outline-primary btn-sm pull-right" ng-click="view(1, 0)">
                        <i class="fa fa-file"></i>
                        Excel
                    </button>
                    <button class="btn btn-outline-primary btn-sm pull-right" ng-click="view(0, 1)">
                        <i class="fa fa-print"></i>
                        Print
                    </button>
                </div>
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                <h2 class="header-laporan">LAPORAN REKAP PENJUALAN</h2>
                                </br>
                                <h2 class="header-laporan">PER BULAN {{ filter.tanggal | date:'MMMM yyyy'}}</h2>
                            </center>
                            <div class="table-responsive">
                                <table border="1" class="table table-hover table-bordered table-print">
                                    <thead>
                                    <tr align="center">
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>Customer</th>
                                        <th>Nama Barang</th>
                                        <th>Jumlah</th>
                                        <th>Satuan</th>
                                        <th>Harga Satuan</th>
                                        <th>Subtotal</th>

                                    </tr>
                                    </thead>
                                    <tbody ng-show="!isLoading" ng-repeat="val in Rincian">
                                    <tr>
                                        <td class="align-center">{{ $index + 1 }}</td>
                                        <td class="align-center">{{ val.tanggal_penjualan }}</td>
                                        <td class="align-center">{{ val.nama_customer }}</td>
                                        <td class="align-center">{{ val.nama_barang }}</td>
                                        <td class="align-center">{{ val.jumlah_jual }}</td>
                                        <td class="align-center">{{ val.satuan_barang }}</td>
                                        <td class="align-center">{{ val.harga_satuan }}</td>
                                        <td class="align-center">{{ val.subTotal }}</td>
                                    </tr>
                                    </tbody>
                                    <tr>
                                        <td class="align-center" colspan="4">
                                            <b>Total</b>
                                        </td>
                                        <td class="align-center">{{ Total.jumlah_barang }}
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td class="align-center">{{ Total.total_harga }}</td>
                                    </tr>
                                </table>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

