<div class="animated fadeIn">
    <div ng-controller="tpenjualanCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Transaksi Penjualan</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>

            <!--  Tampilan Pencarian -->
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Tanggal</label>
                                        <div class="col-sm-2">
                                            <input st-search="tanggal" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Tanggal"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Total</label>
                                        <div class="col-sm-2">
                                            <input st-search="total" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Total"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Customer</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan nama"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Tampilan Tabel di Index-->
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">No</th>
                            <th class="align-left">Tanggal</th>
                            <th class="align-left">Total</th>
                            <th class="align-left">Customer</th>
                            <th class="align-left">Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ $index + 1 }}</td>
                            <td class="align-left">{{ row.tanggal | date: "dd MMM yyyy"}}</td>
                            <td class="align-left">{{ row.total }}</td>
                            <td class="align-left">{{ row.nama_customer }}</td>
                            <td class="align-left">{{ row.status }}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-pencil"
                                            ng-disabled="row.status == 'tersimpan' "
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash"
                                            ng-disabled="row.status == 'tersimpan' "
                                            ng-click="delete(row)"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>

        <!-- Form Add, Edit -->
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle }}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-click="toggle($event, 'tanggal')" is-open="opened.tanggal"
                                               uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal"
                                               ng-disabled="is_view"/>
                                        <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Customer</label>
                                <div class="col-sm-9">
                                    <ui-select ng-disabled="is_view" ng-model="form.m_customer_id" theme="bootstrap">
                                        <ui-select-match placeholder="Ketik Nama">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices position="down" refresh="cariCustomer($select.search)"
                                                           repeat="vals in listCustomer | filter : $select.search">
                                            {{vals.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Total</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.total"
                                           maxlength="11" ng-disabled="true"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Tampilan Form Detail-->
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header" style="margin-bottom: 0px;">Detail</h6>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="align-left">Barang</th>
                                    <th class="align-left">Jumlah Satuan</th>
                                    <th class="align-left">Harga</th>
                                    <th class="align-left">Sub Total</th>
                                    <th class="align-center" style="width: 10px;">
                                        <button type="button" class="btn btn-success fa fa-plus"
                                                ng-click="addDetail(listDetail)" ng-disabled="is_view"></button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="v in listDetail">
                                    <td class="align-left">
                                        <ui-select ng-disabled="is_view" ng-model="v.m_barang_id" theme="bootstrap">
                                            <ui-select-match placeholder="Ketik Barang">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariBarang($select.search)"
                                                               repeat="vals in listBarang | filter : $select.search">
                                                {{vals.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td class="align-left">
                                        <input type="text" class="form-control form-control-sm" maxlength="11"
                                               ng-model="v.jumlah" ng-change="getSubTotal()" ng-disabled="is_view"/>
                                    </td>
                                    <td class="align-left">
                                        <input type="text" class="form-control form-control-sm" maxlength="11"
                                               ng-model="v.harga" ng-change="getSubTotal()" ng-disabled="is_view"/>
                                    </td>
                                    <td class="align-left">
                                        <input type="text" class="form-control form-control-sm" maxlength="11"
                                               ng-model="v.SubTotal" ng-disabled="true"/>
                                    </td>
                                    <td class="align-right">
                                        <button type="button" class="btn btn-danger fa fa-minus"
                                                ng-click="removeDetail(listDetail, $index)"
                                                ng-disabled="is_view"></button>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-right" colspan="3">
                                        Total
                                    </td>
                                    <td class="align-right">
                                        <input type="text" class="form-control form-control-sm" maxlength="11"
                                               ng-model="form.total"
                                               ng-disabled="true">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

                <!--Button aksi -->
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-danger btn-sm" ng-click="unpost(form)"
                            ng-if="is_view && form.status != 'draft'">
                        <i class="fa fa-refresh"></i>
                        &nbsp;Unpost
                    </button>
                    <button type="submit" class="btn btn-success btn-sm" ng-if="!is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form, 'draft')">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan & Draft
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-if="!is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form, 'tersimpan')">
                        <i class="fa fa-check"></i>
                        &nbsp;Simpan & Posting
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
