<section id="top-header">
    <!-- Preloader Start -->
    <header>

        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                        </div>

                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li class="{{ page == 'home' ? 'active' : '' }}">
                                        <a href="{{ baseUrl }}/home">Home</a>
                                    </li>
                                    <li class="{{ page == 'about' ? 'active' : '' }}">
                                        <a href="{{ baseUrl }}/about">About</a>
                                    </li>
                                    <li class="{{ page == 'shop' ? 'active' : '' }}">
                                        <a href="{{ baseUrl }}/shop">Shop</a>
                                    </li>
                                    <li class="{{ page == 'blog' ? 'active' : '' }}">
                                        <a href="{{ baseUrl }}/blog">Blog</a>
                                    </li>
                                    <li><a href="#">Pages</a>
                                        <ul class="submenu">
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="elements.html">Element</a></li>
                                            <li><a href="confirmation.html">Confirmation</a></li>
                                            <li><a href="checkout.html">Product Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li class="{{ page == 'contact' ? 'active' : '' }}">
                                        <a href="{{ baseUrl }}/contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="nav-search search-switch">
                                        <span class="flaticon-search"></span>
                                    </div>
                                </li>
                                <li><a href="login.html"><span class="flaticon-user"></span></a></li>
                                <li><a href="cart.html"><span class="flaticon-shopping-cart"></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!--/.nav-ends -->
</section>